[alias]
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

[commit]
  gpgsign = ${GPG_SIGN}

[fetch]
	prune = true

[init]
  defaultBranch = main

[user]
  name = ${NAME}
  email = ${EMAIL}
  signingkey = ${GPG_KEY}

### GPG stuff, required ###

# gpg --full-generate-key
# gpg --list-secret-keys --keyid-format LONG alkoclick@gmail.com
# git config --global user.signingkey REPLACE_ME
# gpg --armor --export REPLACE_ME | cs
